@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  height: 100%;
  width: 100%;
}


::-webkit-scrollbar {
  width: 0px;
}


.loader-spinner {
  animation: spin 800ms infinite linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.loader-zoom {
  animation: zoom 2000s infinite linear;
  transform: scale(2);
}

@keyframes zoom {
  from {
      transform: scale(1);
  }
  to {
      transform:scale(2);
  }
}